.background {
    background-color: black;
}

.img {
    background-image: url(pexels-bess-hamiti-36487.jpg);
    background-size: cover;
    height:400px
    
}

.font {
    font-family: 'Lato', sans-serif;
}

.button {
    border-radius: 16px;
} 

.font2 {
    font-family: 'Hubballi', cursive;
}

.font3 {
    font-size:30px
}

input {
    color: white;
}

.formerror {
    color: white
}